# 10. 行数のカウント

In [18]:
print(sum(1 for _ in open('./data/popular-names.txt', mode = 'r'))) #closeされない？ => される

2780

In [19]:
with open('./data/popular-names.txt', mode = 'r') as f:
    print(sum(1 for _ in f))

2780

In [9]:
from functools import reduce
with open('./data/popular-names.txt', mode = 'r') as f:
    print(reduce(lambda num_lines, x: num_lines + 1, f, 0))

2780

In [10]:
with open('./data/popular-names.txt', mode = 'r') as f:
    print(len(f.readlines()))

2780

In [11]:
!wc -l data/popular-names.txt

    2780 data/popular-names.txt

In [12]:
!cat data/popular-names.txt | wc -l

    2780

# 11. タブをスペースに置換

In [22]:
with open('./data/popular-names.txt', mode = 'r') as f:
    replaced_data = [line.rstrip().replace('\t', ' ') for line in f]

for data in replaced_data[:10]:
    print(data)

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [33]:
!cat data/popular-names.txt | sed s/'	'/' '/g | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
sed: couldn't flush stdout: Broken pipe

In [31]:
!cat data/popular-names.txt | tr '\t' ' ' | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880

In [32]:
!expand -t 1 data/popular-names.txt | head

Mary F 7065 1880
Anna F 2604 1880
Emma F 2003 1880
Elizabeth F 1939 1880
Minnie F 1746 1880
Margaret F 1578 1880
Ida F 1472 1880
Alice F 1414 1880
Bertha F 1320 1880
Sarah F 1288 1880
expand: write error: Broken pipe
expand: write error

# 12. 1列目をcol1.txtに，2列目をcol2.txtに保存

In [17]:
col1_list = []
col2_list = []

with open('./data/popular-names.txt') as f:
    for line in f:
        split_line = line.split('\t')
        col1_list.append(split_line[0])
        col2_list.append(split_line[1])
        
with open('./work/col1.txt', mode = 'w') as col1:
    col1.write('\n'.join(col1_list))
    
with open('./work/col2.txt', mode = 'w') as col2:
    col2.write('\n'.join(col2_list))

In [26]:
with open('./data/popular-names.txt', mode = 'r') as in_file:
    with open('./work/col1.txt', mode = 'w') as col1_file:
        with open('./work/col2.txt', mode = 'w') as col2_file:
            for line in in_file:
                split_line = line.rstrip().split('\t')
                col1_file.write(split_line[0] + '\n')
                col2_file.write(split_line[1] + '\n')

In [29]:
!cat data/popular-names.txt | cut -f 1 | head

Mary
Anna
Emma
Elizabeth
Minnie
Margaret
Ida
Alice
Bertha
Sarah

In [30]:
!cat data/popular-names.txt | cut -f 2 | head

F
F
F
F
F
F
F
F
F
F

# 13. col1.txtとcol2.txtをマージ

In [20]:
with open('./work/col1.txt', mode = 'r') as col1:
    col1_list = col1.readlines()

with open('./work/col2.txt', mode = 'r') as col2:
    col2_list = col2.readlines()

with open('./work/13.txt', mode = 'w') as f:
    f.writelines([col1_word.strip('\n') + '\t' + col2_word for (col1_word, col2_word) in zip(col1_list, col2_list)])

In [34]:
with open('./work/col1.txt', mode = 'r') as col1_file:
    with open('./work/col2.txt', mode = 'r') as col2_file:
        with open('./work/13.txt', mode = 'w') as out_file:
            for col1, col2 in zip(col1_file, col2_file):
                out_file.write(col1.rstrip() + '\t' + col2.rstrip() + '\n')

In [37]:
!cat work/13.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

In [36]:
!paste work/col1.txt work/col2.txt | head

Mary	F
Anna	F
Emma	F
Elizabeth	F
Minnie	F
Margaret	F
Ida	F
Alice	F
Bertha	F
Sarah	F

# 14. 先頭からN行を出力

In [40]:
%%file ./src/q14.py
import sys
from itertools import islice

n = int(sys.argv[1])
with open('./data/popular-names.txt', mode = 'r') as f:
    for data in islice(f, n):
        print(data.strip())

Overwriting ./src/q14.py

In [41]:
!python ./src/q14.py 4

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880

In [24]:
!head -n 4 ./data/popular-names.txt

Mary	F	7065	1880
Anna	F	2604	1880
Emma	F	2003	1880
Elizabeth	F	1939	1880

# 15. 末尾のN行を出力

In [46]:
%%file ./src/q15.py
import sys
from collections import deque

n = int(sys.argv[1])
with open('./data/popular-names.txt', mode = 'r') as f:
    dq = deque(f, n)
    for data in dq:
        print(data.strip())

Overwriting ./src/q15.py

In [47]:
!python ./src/q15.py 4

Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

In [48]:
!tail -n 4 data/popular-names.txt

Elijah	M	12886	2018
Lucas	M	12585	2018
Mason	M	12435	2018
Logan	M	12352	2018

# 16. ファイルをN分割する

In [14]:
%%file ./src/q16.py
import sys
import math
from functools import reduce
from itertools import islice

file_path = './data/popular-names.txt'

def get_file_length(file_path):
    with open(file_path, mode = 'r') as f:
        return reduce(lambda num_lines, x: num_lines + 1, f, 0)

n = int(sys.argv[1])
with open(file_path, mode = 'r') as f:
    num_line = get_file_length(file_path)
    out_num_line = math.ceil(num_line / n)
    for file_number in range(n):
        with open(f'./work/splitpy/splited_popular-names-{file_number:02}.txt', mode = 'w') as out_file:
            for line in islice(f, out_num_line):
                out_file.write(line)

Overwriting ./src/q16.py

In [15]:
!python ./src/q16.py 18

In [18]:
%%file ./src/split.sh
#!/bin/zsh

file_path=$argv[1]
n=$argv[2]

num_line=`cat $file_path | wc -l`
l_num=$((($num_line + $n - 1) / $n))
#file_name=$file_path"splited_file"$file_name"-"

split -l $l_num $file_path ./work/split/splited_popular-names-

Overwriting ./src/split.sh

In [19]:
!zsh ./src/split.sh ./data/popular-names.txt 18

In [20]:
!wc -l ./work/split/*

  155 ./work/split/splited_popular-names-aa
  155 ./work/split/splited_popular-names-ab
  155 ./work/split/splited_popular-names-ac
  155 ./work/split/splited_popular-names-ad
  155 ./work/split/splited_popular-names-ae
  155 ./work/split/splited_popular-names-af
  155 ./work/split/splited_popular-names-ag
  155 ./work/split/splited_popular-names-ah
  155 ./work/split/splited_popular-names-ai
  155 ./work/split/splited_popular-names-aj
  155 ./work/split/splited_popular-names-ak
  155 ./work/split/splited_popular-names-al
  155 ./work/split/splited_popular-names-am
  155 ./work/split/splited_popular-names-an
  155 ./work/split/splited_popular-names-ao
  155 ./work/split/splited_popular-names-ap
  155 ./work/split/splited_popular-names-aq
  145 ./work/split/splited_popular-names-ar
 2780 total

In [21]:
!wc -l ./work/splitpy/*

  155 ./work/splitpy/splited_popular-names-00.txt
  155 ./work/splitpy/splited_popular-names-01.txt
  155 ./work/splitpy/splited_popular-names-02.txt
  155 ./work/splitpy/splited_popular-names-03.txt
  155 ./work/splitpy/splited_popular-names-04.txt
  155 ./work/splitpy/splited_popular-names-05.txt
  155 ./work/splitpy/splited_popular-names-06.txt
  155 ./work/splitpy/splited_popular-names-07.txt
  155 ./work/splitpy/splited_popular-names-08.txt
  155 ./work/splitpy/splited_popular-names-09.txt
  155 ./work/splitpy/splited_popular-names-10.txt
  155 ./work/splitpy/splited_popular-names-11.txt
  155 ./work/splitpy/splited_popular-names-12.txt
  155 ./work/splitpy/splited_popular-names-13.txt
  155 ./work/splitpy/splited_popular-names-14.txt
  155 ./work/splitpy/splited_popular-names-15.txt
  155 ./work/splitpy/splited_popular-names-16.txt
  145 ./work/splitpy/splited_popular-names-17.txt
 2780 total

In [3]:
!split -n l/18 -d data/popular-names.txt work/splitcom/splited_popular-names-

In [5]:
!wc -l ./work/splitcom/*

  165 ./work/splitcom/splited_popular-names-00
  163 ./work/splitcom/splited_popular-names-01
  162 ./work/splitcom/splited_popular-names-02
  162 ./work/splitcom/splited_popular-names-03
  153 ./work/splitcom/splited_popular-names-04
  152 ./work/splitcom/splited_popular-names-05
  153 ./work/splitcom/splited_popular-names-06
  154 ./work/splitcom/splited_popular-names-07
  154 ./work/splitcom/splited_popular-names-08
  154 ./work/splitcom/splited_popular-names-09
  156 ./work/splitcom/splited_popular-names-10
  152 ./work/splitcom/splited_popular-names-11
  150 ./work/splitcom/splited_popular-names-12
  148 ./work/splitcom/splited_popular-names-13
  148 ./work/splitcom/splited_popular-names-14
  148 ./work/splitcom/splited_popular-names-15
  151 ./work/splitcom/splited_popular-names-16
  155 ./work/splitcom/splited_popular-names-17
 2780 total

# 17. １列目の文字列の異なり

In [30]:
with open('./work/col1.txt', mode = 'r') as in_file:
    col1_set = {line.rstrip() for line in in_file}

for col1 in sorted(col1_set)[:10]:
    print(col1)

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [1]:
!cut -f 1 data/popular-names.txt | sort | uniq | head

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

In [6]:
!cut -f 1 data/popular-names.txt | sort -u | head

Abigail
Aiden
Alexander
Alexis
Alice
Amanda
Amelia
Amy
Andrew
Angela

# 18. 各行を3コラム目の数値の降順にソート

In [2]:
data_list = []
with open('./data/popular-names.txt') as in_file:
    for line in in_file:
        split_line = line.split()
        data_list.append(split_line)

data_list.sort(key = lambda x: int(x[2]), reverse = True)

for data in data_list[:10]:
    print('\t'.join(data).strip())

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954

In [3]:
!sort -n -r -k 3 data/popular-names.txt | head

Linda	F	99689	1947
Linda	F	96211	1948
James	M	94757	1947
Michael	M	92704	1957
Robert	M	91640	1947
Linda	F	91016	1949
Michael	M	90656	1956
Michael	M	90517	1958
James	M	88584	1948
Michael	M	88528	1954
sort: write failed: 'standard output': Broken pipe
sort: write error

# 19. 各行の1コラム目の文字列の出現頻度を求め，出現頻度の高い順に並べる

In [17]:
import collections

with open('./data/popular-names.txt', mode = 'r') as f:
    col1_gene = (line.split()[0] for line in f)
    for (word, cnt) in collections.Counter(col1_gene).most_common(10):
        print(cnt, word)

118 James
111 William
108 John
108 Robert
92 Mary
75 Charles
74 Michael
73 Elizabeth
70 Joseph
60 Margaret

In [8]:
!cat data/popular-names.txt | cut -f 1 | sort | uniq -c | sort -r | head -n 10

    118 James
    111 William
    108 Robert
    108 John
     92 Mary
     75 Charles
     74 Michael
     73 Elizabeth
     70 Joseph
     60 Margaret